*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    height: 8vh;
    width: 100%;
    box-shadow: 0px 1px 11px 1px black;
}
.log{
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-left: 2%;
    text-transform: uppercase;
}
.nav_container{
    display: flex;
    /* background-color: red; */
    width: 20rem;
    justify-content: space-around;
    font-weight: 800;
}
.nav_container a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav_container a:hover{
    color: rgb(150, 123, 16);
}

/* main */

.about{
    width: 100%;
    display: flex;

}
.img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.about{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;

}
.main_content{
    margin-top: 4%;
    font-weight: 800;
}
.name{
    font-weight: 900;
    font-size: 3rem;
}
.Creative{
    font-weight: 900;
    font-size: 3rem;
}
.download{
    margin-top:4%;
    width: 9rem;
    height:2rem
}
.download {
    background-color: rgb(150, 123, 16);
    border: none;
    cursor: pointer;
}
.download:active{
    background-color: red;
}
.Recent_post{
    width: 100%;
    /* height: 500px; */
    height: 400px;
    background-color: rgb(150, 123, 16);
    margin-top: 2%;
    opacity: 0.8;
}
.tag{
    display: flex;
    justify-content: space-around;
    color: rgb(11, 24, 31);
}
.post{
    background-color: rgb(243, 243, 243);
    height: 250px;
    width: 25%;
    margin-top: 5%;
    
}
.now{
    background-color: white;
    height: 300px;
    width: 30%;
   
}
.sap{
    display: flex;
    justify-content: space-evenly;
}
.post p{
    margin-left: 8%;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.time{
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    margin-top: 5%;
    
}
.apost{
    margin-top: 9%;
    font-weight: 100;
    margin-left: 2%;
}
.apro{
    width: 200px;
    height: 200px;
    margin: 3;
}
.aproject{
    display: flex;

}


.aproject p{
    margin-top: 5%;
    margin-left: 3%;
}
.bproject{
    display: flex;
    margin-top: 5%;

}
.bproject p{
    margin-top: 5%;
    margin-left: 3%;
}
.cproject{
    display: flex;
    margin-top: 5%;

}
.cproject p{
    margin-top: 5%;
    margin-left: 3%;
}
.ptag{
    font-weight: 100;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    text-transform: uppercase;
}
/* footer */
footer{
    width: 100%;
    height: 500px;
    background-color: darkgrey;
    margin-top: 2%;
}
.logo{
    display: flex;
    /* background-color: red; */
    width: 20%;
    justify-content: space-evenly;
    margin-top: 5%;
}
.logo a img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.Con{
    font-size: 30px;
    font-weight: 600;
}
.Con_us{
    height: 400px;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 10px 1px black;
}
.footer_content{
    display: flex;
    justify-content: space-around;
}
.Con_us input{
    height: 40px;
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;
    
}
.Con_us button{
    width: 15%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 2%;
    border: none;
    background-color: rgb(187, 177, 177);
    opacity: 0.9;
}
.Con_us textarea{
    height: 40px;
    width: 80%;
    margin-top: 5%;
    margin-left: 5%;

}
.Con_us input:focus{
    border: 2px solid black;
}
hr{
    border: 5px;
    margin-top: 2%;
    color: black;
}
.Copyright{
    display: flex;
    align-items: center;
    margin-left: 4%;
}
